@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #330cf9;
  --border: 2px solid black;
  --secondary-color: black;
  --bg1: #ffffffff;
  --btn-border: #4458dc;
  --btn1-bg-color: background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
}

html {
  font-size: 62.5%;
  max-width: 100%;
  box-sizing: border-box;
}

body {
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
}

/* ================apply all tag================= */
li {
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h1 {

  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 4.5rem;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  /* font-weight: 900; */
}

h5 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

/* ======================header-start============================ */

.header {

  border: 2px solid black;
  background-color: #c3bddc;
  box-shadow: 1px 1px 1px 2px;

}

.header .header-section {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  height: 6rem;
  width: 100%;
}

.header-section .navbar {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-section .navbar .nav-list {
  display: flex;
  gap: 3rem;
  
}
.header-section .navbar .nav-list a{
 
  transition: all 0.3s linear;
 
}
.header-section .navbar .nav-list a:hover{
  color: #ffffff;
}

.header-section .logo {
  font-size: 3vh;

}

.navbar .nav-icon {
  display: none;
}

/* =======================++++header-end+++=================================== */

/* =============================home-start============================================ */
.home-section {
  z-index: 1;
  background: url(images/home-banner.png) no-repeat top center;
  background-position: center;
  background-size: cover;
}

.home-section .home-inner {
  width: 100%;
  overflow: hidden;
}

.home-section .home-inner .home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15rem;
  /* border: var(--border); */
}

.home-section .home-inner .home-right .home_right_img img {
  position: relative;
  display: inline-block;
  width: 70%;
  height: auto;
  right: -19rem;

}




.home-section .home-inner .home-container .home-left {
  display: block;
  /* border: var(--border); */
  position: relative;
  left: 13%;
}

.home-section .home-inner .home-container .home-left .home-content h3 {
  position: relative;
  margin-bottom: 2rem;
}

.home-section .home-inner .home-container .home-left .home-content h3::after {
  content: '';
  width: 41rem;
  height: 0.2rem;
  position: absolute;
  top: 50%;
  left: 24%;
  background-color: #000000;
}

.home-section .home-inner .home-container .home-left .home-content h2 {
  margin-top: 2rem;
  font-size: 7rem;
  line-height: 6rem;
  margin-bottom: 2.5rem;
}

.home-section .home-inner .home-container .home-left .home-content h5 {
  font-size: 2.5rem;
  margin-bottom: 3.5rem;
}

.home-section .home-inner .home-container .home-left .home-content .primary_btn {
  margin-right: 2rem;
  line-height: 4rem;
  width: 24%;
  border: 1.6px solid var(--btn-border);
  cursor: pointer;
  border-radius: 0.2rem;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
}

.home-content .btn-bg1 {
  background-color: #4458dc;
  transition: all 0.3s linear;
  color: #ffffff;
}

.home-content .btn-bg1:hover {
  background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #4458dc, #854fee);
  color: #000000;
}


.home-content .btn-bg2 {
  background-color: var(--bg1);
  color: #000000;
  transition: all 0.3s linear;
}

.home-content .btn-bg2:hover {
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
  color: #ffffff;
}


/* =============================home-end============================================== */